version: '3'

services:
  flask_app:
    container_name: brackend
    restart: always
    build: .
    ports:
      - "8000:8000"
    command: gunicorn --log-level info -w 3 -b 0.0.0.0:8000 brackend:app
